<launch>
    <arg name="map" default="-1"/>

    <!-- PF node -->
    <node pkg="pf_pkg" type="pf_node.py" name="pf_node" output="screen" />
    
    <!-- Call main driver script. -->
    <include file="$(find data_pkg)/launch/demo_base.launch" >
        <arg name="map" value="$(arg map)"/>
    </include>
</launch>