<launch>
    <!-- Usage: roslaunch ekf_slam_demo.launch dt:=0.5 -->
    <arg name="DT" default="-1"/>
    <arg name="map_type" default="-1"/>

    <!-- EKF node -->
    <node pkg="ekf_pkg" type="ekf_node.py" name="ekf_node"  args="$(arg DT)" output="screen" />
    <!-- node to send odom and measurements to the ekf -->
    <node pkg="data_pkg" type="data_fwd_node.py" name="data_fwd_node"  args="$(arg DT) $(arg map_type)" output="screen" />
    <!-- plotting node -->
    <node pkg="data_pkg" type="plotting_node.py" name="plotting_node" output="screen" />
</launch>