<launch>
    <arg name="map" default="-1"/>

    <!-- Python3 EKF node -->
    <node pkg="ekf_pkg" type="ekf_node.py" name="ekf_node" output="screen" />

    <!-- Call main driver script. -->
    <include file="$(find data_pkg)/launch/demo_base.launch" >
        <arg name="map" value="$(arg map)"/>
    </include>
</launch>