<launch>
    <arg name="landmark_map" default="random"/> <!-- options: "random", "grid", ... -->
    <arg name="precompute_trajectory" default="true"/>
    <arg name="tight_control" default="false"/>
    
    <!-- Select which filter to use. -->
    <arg name="filter" default="cpp"/> <!-- options: "cpp", "py" -->
    <group if="$(eval arg('filter')=='cpp')">
        <!-- C++ EKF node -->
        <node pkg="ekf_pkg" type="ekf_node" name="ekf_node"  output="screen" />
    </group>
    <group if="$(eval arg('filter')=='py')">
        <!-- Python3 EKF node -->
        <node pkg="ekf_pkg" type="ekf_node.py" name="ekf_node"  output="screen" />
    </group>
    
    <!-- Call main sim driver script. -->
    <include file="$(find base_pkg)/launch/sim_base.launch" >
        <arg name="landmark_map" value="$(arg landmark_map)"/>
        <arg name="precompute_trajectory" value="$(arg precompute_trajectory)"/>
        <arg name="tight_control" value="$(arg tight_control)"/>
    </include>
</launch>